html {
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  margin: 0%;
  padding: 10px 20px;
}

body {
  margin: 0%;
  background-color: #f5e3e0;
  width: 100%;
  height: 100%;
  /* display: grid;
  grid-template-rows: 1fr; */

  display: flex;
  flex-direction: column;
}

.brand {
  color: #3a3238;
  font-family: Papyrus;
  font-weight: bold;
  font-size: 60px;
  margin: 0%;
  margin-right: auto;
}

#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  font-family: Papyrus;
  padding: 0%;
  gap: 20px;
  margin-left: auto;
}

.tab {
  color: #3a3238;
  text-decoration: none;
}

main {
  display: flex;
  padding: 30px;
  gap: 20px;
  flex-grow: 1;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0%;
  gap: 10px;
}

.item {
  border: 1px;
  border-radius: 2px;
  padding: 10px;
  font-family: Papyrus;
  font-weight: bold;
  width: 100px;
  background-color: #d282a6;
  color: 080808;
}

article {
  color: #3a3238;
  font-family: Helvetica;
}

.testimonial {
  background-color: #e8b4bc;
  color: 372F35;
  font-style: italic;
  text-align: center;
  width: 50%;
  padding: 5px;
}

footer {
  background-color: #6e4555;
  color: #f5e3e0;
  font-weight: bold;
  text-align: center;
}
